#background_image-ja {
    background-image: url('../Oleose/Eco/img/eco/bg-header.jpg');
}
/*************/

#cta-quote-ja {
    background-image: url('../Oleose/Eco/img/eco/bg-aside.jpg');
    background-attachment: fixed;
}

/*************/

#footer-ja {
    background-image: url('../Oleose/Eco/img/eco/bk-eco.jpg');
    background-attachment: fixed;
}

/************/

#pricing-ja {
    background-image: url('../Oleose/Eco/img/eco/bk-eco.jpg');
    background-attachment: fixed;
}

/* carousel images */


#item_ja1 {
    background-image: url('../Oleose/Eco/img/eco/bk-eco.jpg');
}
#item_ja2 {
    background-image: url('../Oleose/Eco/img/eco/bk-eco.jpg');
}
#item_ja3 {
    background-image: url('../Oleose/Eco/img/eco/bk-eco.jpg');
}
#item_ja4 {
    background-image: url('../Oleose/Eco/img/eco/bk-eco.jpg');
}

/**** Portfolio GridView Background Images ****/

#portfolioModal1 {
    background-image: url('../Oleose/Eco/img/eco/bk-eco.jpg');
}

#portfolioModal2 {
    background-image: url('../Oleose/Eco/img/eco/bk-eco.jpg');
}

#portfolioModal3 {
    background-image: url('../Oleose/Eco/img/eco/bk-eco.jpg');
}

#portfolioModal4 {
    background-image: url('../Oleose/Eco/img/eco/bk-eco.jpg');
}